/* Inside the WP Media Editor */
.media-frame-content #mediatheque-container .wp-filter {
	margin-top: 0;
	border-top: none;
	border-left: none;
	border-right: none;
	width: 98%;
}

.media-frame-content #mediatheque-container #forms,
.media-frame-content #mediatheque-container #media,
.media-frame-content #mediatheque-container #trail {
	width: 95%;
	margin-right: auto;
	margin-left: auto;
}

.media-frame-content #mediatheque-container #media ul li.user-media {
	box-shadow: inset 0 0 15px rgba( 0, 0, 0, 0.1 ), inset 0 0 0 1px rgba( 0, 0, 0, 0.05 );
	background-color: #eee;
	background-image: none;
	cursor: pointer;
}

.media-frame-content #mediatheque-container #media ul li.user-media.dir .user-media-content {
	background-image: url( 'folder.svg' );
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center center;
}

.media-frame-content #mediatheque-container #media ul li.user-media div.user-media-content {
	min-height: 200px;
}

.media-frame-content #mediatheque-container #media ul li.user-media.selected {
	border: 8px inset #0073aa;
	outline: none;
	max-height: 184px;
}

.media-frame-content #mediatheque-container #media ul li.user-media.selected .user-media-content {
	min-width: 184px;
	min-height: 184px;
}

.media-frame.mediatheque-hide-menu .media-frame-title,
.media-frame.mediatheque-hide-menu .media-frame-router,
.media-frame.mediatheque-hide-menu .media-frame-toolbar,
.media-frame.mediatheque-hide-menu .media-frame-content {
	left: 0;
}

.media-frame.mediatheque-hide-menu .media-frame-menu {
	display: none;
}

.media-frame .user-media-preferences .embed-media-settings {
	top: 0;
}

.media-frame .user-media-preferences .embed-media-settings .column-image,
.media-frame .user-media-preferences .embed-media-settings .wp-video-holder,
.media-frame .user-media-preferences .embed-audio-settings audio {
	float: right;
	margin-right: 1em;
	width: 48%;
}

.media-frame .user-media-preferences .embed-audio-settings audio,
.media-frame #mediatheque-file-preferences .embed-media-settings {
	margin-top: 2em;
}

.media-frame .user-media-preferences .embed-media-settings .column-settings,
.media-frame .user-media-preferences .embed-video-settings .setting,
.media-frame .user-media-preferences .embed-audio-settings .setting {
	float: left;
	margin-left: 1em;
	overflow: hidden;
	width: 48%;
}

.media-frame .user-media-preferences .embed-audio-settings .setting {
	width: calc( 100% - 430px );
}

.media-frame .user-media-preferences .embed-video-settings .setting,
.media-frame .user-media-preferences .embed-audio-settings .setting {
	clear: none;
}

.media-frame #mediatheque-container #media ul li.user-media div.user-media-content h4 {
	background: none;
}

.media-frame-content #mediatheque-container #media li.notice {
	margin: 1em 0;
}
