#drag-drop-area {
	position: relative;
	top: auto;
	right: auto;
	left: auto;
	bottom: auto;
	padding-top: 0;
	margin-top: 0;
	border: 4px dashed #b4b9be;
	margin-bottom: 1em;
}

#drag-drop-area.drag-over {
	border: 4px dashed #0073aa;
}

#drag-drop-area .close {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	height: 48px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 50px;
	z-index: 1;
}

.drag-drop-inside {
	margin: 2em 0;
}

.drag-drop-inside p.drag-drop-info {
	display: block;
	font-size: 12px;
	margin: 0.5em 0;
	text-align: center;
}

p.drag-drop-buttons {
	text-align: center;
}

p.drag-drop-buttons input[type="button"] {
	display: inline-block !important;
}

#drag-drop-area h2.drag-drop-info {
	font-size: 20px;
	line-height: 28px;
	font-weight: 400;
	margin: 0;
	text-align: center;
}

#mediatheque-upload-status .mediatheque-status {
	overflow: hidden;
	margin: 1em 0;
}

#mediatheque-upload-status .mediatheque-progress,
#mediatheque-container #media ul li.user-media .mediatheque-progress {
	background: none;
	border: 1px solid #d1d1d1;
	float: right;
	height: 22px;
	line-height: 2em;
	margin: 6px 10px 0 0;
	margin-bottom: 2px;
	padding: 0;
	overflow: hidden;
	width: 200px;
}

#mediatheque-container #media ul li.user-media .mediatheque-progress {
	float: left;
	margin: 45% 2% 45% 2%;
	width: 95%;
}

#mediatheque-upload-status .mediatheque-bar,
#mediatheque-container #media ul li.user-media .mediatheque-bar {
	background-color: #0073aa;
	width: 0;
	height: 100%;
	z-index: 9;
}

#toolbar button {
	vertical-align: inherit;
	margin: 0 0.5em;
}

#toolbar button:not( .button-primary ):not( .button-secondary ) {
	border: none;
	border-radius: 0;
	background: none!important;
	box-shadow: none!important;
}

#toolbar li {
	margin: 0 10px;
	padding: 15px 0;
}

#directory-form {
	width: 50%;
	margin: 0 auto;
}

#directory-form form {
	padding: 1em;
	overflow: hidden;
}

#directory-form form .close {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	height: 48px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 50px;
	z-index: 1;
}

#directory-form form label {
	margin-top: 2em;
	display:block;
	font-weight: bold;
}

#directory-form form input[type=text] {
	width: 85%;
	line-height: 26px;
	height: 28px;
	padding: 0 10px 1px;
	box-shadow: 0 1px 0 #ccc;
}

#mediatheque-container #users ul.users,
#mediatheque-container #media ul.user-media {
	overflow: hidden;
	list-style: none;
}

#mediatheque-container #users ul li.user,
#mediatheque-container #media ul li.user-media {
	float: left;
	width: 200px;
	min-height: 200px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	text-align: center;
	margin: 0 0.5em 1.5em 0.5em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#mediatheque-container #media ul li.user-media:not( .dir ) {
	background-color: #fff;
}

#mediatheque-container #users ul li.user,
#mediatheque-container #media ul li.user-media.dir {
	background-image: url( 'folder.svg' );
	background-size: cover;
	background-repeat: no-repeat;
}

#mediatheque-container #users ul li.user a {
	border: none;
	margin-top: 45px;
	display: block;
	width: 100%;
}

#mediatheque-container #users ul li.user .stats {
	margin-bottom: 0.5em;
}

#mediatheque-container #media ul li.user-media div.user-media-content {
	width: 100%;
	min-height: 175px;
	position: relative;
}

#mediatheque-container #media ul li.user-media.dir div.user-media-content {
	cursor: pointer;
}

#mediatheque-container #media ul li.user-media:not( .dir ) div.user-media-content {
	background-size: cover;
	background-repeat: no-repeat;
}

#mediatheque-container #media ul li.user-media div.user-media-content h4 {
	position: absolute;
	bottom: 0;
	width: 100%;
}

#mediatheque-container #media ul li.user-media div.user-media-content div.bg-img {
	position: absolute;
	bottom: 20px;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 48px;
	height: 64px;
}

#mediatheque-container #media ul li.user-media div.user-media-actions {
	margin: 0.5em 0;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	height: 100%;
}

#mediatheque-container #media ul li.user-media div.user-media-actions a {
	display: inline-block;
	margin: 0 0.5em;
	text-decoration: none;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}

#mediatheque-container #trail ul {
	list-style: none;
	overflow: hidden;
	margin-top: 0;
}

#mediatheque-container #trail ul li {
	float: left;
	margin-right: 0.5em;
}

#mediatheque-container #trail ul li img.avatar {
	vertical-align: top;
}

[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	/* Required to make elements draggable in old WebKit */
	-khtml-user-drag: element;
	-webkit-user-drag: element;
	cursor:move;
}

#mediatheque-container #media ul.loading,
#mediatheque-container #trail ul.loading {
 	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

#mediatheque-container #media ul li.drag-over,
#mediatheque-container #trail ul li.drag-over {
	border: 0.2em dashed #0073aa;
}

#mediatheque-container #media ul li.drag-over {
	margin-bottom: 1.1em;
}

#mediatheque-container #trail ul li.drag-over {
	display: block;
	width: 250px;
}

/* Inside the WP Media Editor */
.media-frame-content #mediatheque-container .wp-filter {
	margin-top: 0;
	border-top: none;
	border-left: none;
	border-right: none;
	width: 98%;
}

.media-frame-content #mediatheque-container #forms,
.media-frame-content #mediatheque-container #media,
.media-frame-content #mediatheque-container #trail {
	width: 95%;
	margin-right: auto;
	margin-left: auto;
}

.media-frame-content #mediatheque-container #media ul li.user-media {
	box-shadow: inset 0 0 15px rgba( 0, 0, 0, 0.1 ), inset 0 0 0 1px rgba( 0, 0, 0, 0.05 );
	background-color: #eee;
	background-image: none;
	cursor: pointer;
}

.media-frame-content #mediatheque-container #media ul li.user-media.dir .user-media-content {
	background-image: url( 'folder.svg' );
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center center;
}

.media-frame-content #mediatheque-container #media ul li.user-media div.user-media-content {
	min-height: 200px;
}

.media-frame-content #mediatheque-container #media ul li.user-media.selected {
	border: 8px inset #0073aa;
	outline: none;
	max-height: 184px;
}

.media-frame-content #mediatheque-container #media ul li.user-media.selected .user-media-content {
	min-width: 184px;
	min-height: 184px;
}

.media-frame.mediatheque-hide-menu .media-frame-title,
.media-frame.mediatheque-hide-menu .media-frame-router,
.media-frame.mediatheque-hide-menu .media-frame-toolbar,
.media-frame.mediatheque-hide-menu .media-frame-content {
	left: 0;
}

.media-frame.mediatheque-hide-menu .media-frame-menu {
	display: none;
}

.media-frame .user-media-preferences .embed-media-settings {
	top: 0;
}

.media-frame .user-media-preferences .embed-media-settings .column-image,
.media-frame .user-media-preferences .embed-media-settings .wp-video-holder,
.media-frame .user-media-preferences .embed-audio-settings audio {
	float: right;
	margin-right: 1em;
	width: 48%;
}

.media-frame .user-media-preferences .embed-audio-settings audio,
.media-frame #mediatheque-file-preferences .embed-media-settings {
	margin-top: 2em;
}

.media-frame .user-media-preferences .embed-media-settings .column-settings,
.media-frame .user-media-preferences .embed-video-settings .setting,
.media-frame .user-media-preferences .embed-audio-settings .setting {
	float: left;
	margin-left: 1em;
	overflow: hidden;
	width: 48%;
}

.media-frame .user-media-preferences .embed-audio-settings .setting {
	width: calc( 100% - 430px );
}

.media-frame .user-media-preferences .embed-video-settings .setting,
.media-frame .user-media-preferences .embed-audio-settings .setting {
	clear: none;
}

/* Front-end */
body:not( .wp-admin ) #mediatheque-container {
	background-color: #f1f1f1;
	height: 450px;
	overflow-y: scroll;
	padding: 1em;
}

body:not( .wp-admin ) #mediatheque-container #media {
	width: 100%;
	margin: 0 auto;
}
