#drag-drop-area {
	position: relative;
	top: auto;
	right: auto;
	left: auto;
	bottom: auto;
	padding-top: 0;
	margin-top: 0;
	border: 4px dashed #b4b9be;
}

#drag-drop-area.drag-over {
	border: 4px dashed #0073aa;
}

#drag-drop-area .close {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	height: 48px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 50px;
	z-index: 1;
}

.drag-drop-inside {
	margin: 2em 0;
}

.drag-drop-inside p.drag-drop-info {
	display: block;
	font-size: 12px;
	margin: 0.5em 0;
	text-align: center;
}

p.drag-drop-buttons {
	text-align: center;
}

p.drag-drop-buttons input[type="button"] {
	display: inline-block !important;
}

#drag-drop-area h2.drag-drop-info {
	font-size: 20px;
	line-height: 28px;
	font-weight: 400;
	margin: 0;
	text-align: center;
}

#wp-user-media-upload-status .wp-user-media-status {
	overflow: hidden;
	margin: 1em 0;
}

#wp-user-media-upload-status .wp-user-media-progress {
	background: none;
	border: 1px solid #d1d1d1;
	float: right;
	height: 22px;
	line-height: 2em;
	margin: 6px 10px 0 0;
	margin-bottom: 2px;
	padding: 0;
	overflow: hidden;
	width: 200px;
}

#wp-user-media-upload-status .wp-user-media-bar {
	background-color: #0073aa;
	width: 0;
	height: 100%;
	z-index: 9;
}

#toolbar button {
	vertical-align: inherit;
	margin: 0 0.5em;
}

#toolbar button:not( .button-primary ):not( .button-secondary ) {
	border: none;
	border-radius: 0;
	background: none!important;
	box-shadow: none!important;
}

#toolbar li {
	margin: 0 10px;
	padding: 15px 0;
}

#directory-form {
	width: 50%;
	margin: 0 auto;
}

#directory-form form {
	padding: 1em;
	overflow: hidden;
}

#directory-form form .close {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	height: 48px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 50px;
	z-index: 1;
}

#directory-form form label {
	margin-top: 2em;
	display:block;
	font-weight: bold;
}

#directory-form form input[type=text] {
	width: 85%;
	line-height: 26px;
	height: 28px;
	padding: 0 10px 1px;
	box-shadow: 0 1px 0 #ccc;
}

#wp-user-media-container #users ul.users {
	overflow: hidden;
	list-style: none;
}

#wp-user-media-container #users ul li.user,
#wp-user-media-container #media ul li.user-media {
	float: left;
	width: 200px;
	min-height: 200px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	text-align: center;
	margin: 0 0.5em 1.5em 0.5em;
}

#wp-user-media-container #media ul li.user-media:not( .dir ) {
	background-color: #fff;
}

#wp-user-media-container #users ul li.user,
#wp-user-media-container #media ul li.user-media.dir {
	background-image: url( 'folder.svg' );
	background-size: cover;
	background-repeat: no-repeat;
}

#wp-user-media-container #users ul li.user a {
	border: none;
	margin-top: 45px;
	display: block;
	width: 100%;
}

#wp-user-media-container #users ul li.user .stats {
	margin-bottom: 0.5em;
}

#wp-user-media-container #media ul li.user-media div.user-media-content {
	width: 100%;
	min-height: 175px;
	position: relative;
}

#wp-user-media-container #media ul li.user-media:not( .dir ) div.user-media-content {
	background-size: cover;
	background-repeat: no-repeat;
}

#wp-user-media-container #media ul li.user-media div.user-media-content h4 {
	position: absolute;
	bottom: 0;
	width: 100%;
}

#wp-user-media-container #media ul li.user-media div.user-media-actions {
	overflow: hidden;
	text-align: center;
	vertical-align: bottom;
	height: 100%;
}

#wp-user-media-container #media ul li.user-media div.user-media-actions a {
	display: inline-block;
	margin: 0 0.5em;
	text-decoration: none;
	border: none;
}

