<# if ( data.uploading ) { #>
	<div id="{{data.id}}">
		<div class="wp-user-media-progress">
			<div class="wp-user-media-bar"></div>
		</div>
	</div>
<# } else { #>
	<div class="user-media-content" <# if ( data.background ) { #>style="background-image:url( {{{data.background}}} );"<# } #>>

		<# if ( 'image' !== data.media_type ) { #>
			<# if ( data.media_icon ) { #>
				<div class="bg-img" style="background-image:url( {{{data.media_icon}}} );">
					<span class="screen-reader-text">{{data.media_type}}</span>
				</div>
			<# } #>

			<h4>{{{data.title.rendered}}}</h4>
		<# } #>

	</div>
	<div class="user-media-actions">
		<# if ( 'dir' === data.media_type ) { #>
			<a href="#/name/{{data.slug}}" class="edit"><span class="dashicons dashicons-edit"></span></a>
		<# } else if ( data.download ) { #>
			<a href="{{data.download}}" class="download"><span class="dashicons dashicons-download"></span></a>
		<# } #>
		<a href="{{data.link}}" class="view"><span class="dashicons dashicons-visibility"></span></a>
		<a href="#/delete/{{data.slug}}" class="delete"><span class="dashicons dashicons-trash"></span></a>
	</div>
<# } #>
